@import '../../../scss/variables.scss';
@import '../../../scss/libs/normalize';


.cart {
   &Top {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   
 
   .contentTitle {
     display: flex;
     align-items: center;
     font-size: 32px;
 
     svg {
       position: relative;
       top: -2px;
       width: 30px;
       height: 30px;
       margin-right: 10px;
       path {
         stroke: $black;
         stroke-width: 1.9;
       }
     }
   }
 
   &Clear {
     display: flex;
     align-items: center;
     cursor: pointer;
     @include noselect();
 
     span {
       display: inline-block;
       margin-left: 7px;
       color: #b6b6b6;
       font-size: 18px;
     }
 
     span,
     svg,
     path {
       transition: all $duration ease-in-out;
     }
 
     &:hover {
       svg {
         path {
           stroke: darken($color: #b6b6b6, $amount: 50);
         }
       }
       span {
         color: darken($color: #b6b6b6, $amount: 50);
       }
     }
   }
   .contentItems{
      display: block;
   }
 
 
   &Bottom {
     margin: 50px 0;
 
     &Details {
       display: flex;
       justify-content: space-between;
 
       span {
         font-size: 22px;
 
         &:last-of-type {
           b {
             color: $orange;
           }
         }
       }
     }
 
     &Buttons {
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-top: 40px;
 
       .goBackBtn {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 210px;
 
         border-color: darken($color: $gray-line, $amount: 10);
 
         span {
           color: darken($color: $gray-line, $amount: 20);
           font-weight: 500;
           font-weight: 600;
         }
 
         &:hover {
           background-color: darken($color: $gray-line, $amount: 90);
           border-color: darken($color: $gray-line, $amount: 90);
 
           span {
             color: $gray-line;
           }
         }
 
         svg {
           margin-right: 12px;
           path {
             fill: transparent;
             stroke-width: 2;
           }
         }
       }
 
       .payBtn {
         font-size: 16px;
         font-weight: 600;
         width: 210px;
         padding: 16px;
       }
     }
   }

 }
.button {
   display: inline-block;
   background-color: $orange;
   border-radius: 30px;
   padding: 10px 20px;
   min-width: 100px;
   text-align: center;
   cursor: pointer;
   transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
   border: 1px solid transparent;
   @include noselect();
  
   &,
   span {
     margin: 0 5px;
      color: #fff;
   }
  
   i,
   span,
   path,
   svg {
      transition: all $duration ease-in-out;
    }
  
   &:hover {
      background-color: darken($orange, 8%);
    }
  
   &:active {
      background-color: darken($orange, 12%);
      transform: translateY(1px);
    }
  
   &Circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      min-width: 32px;
      padding: 0;
      border-width: 2px;
   }
  
  
   &Outline {
      background-color: #fff;
      border-color: $orange;
      &,
      span {
        color: $orange;
      }
  
      svg {
        path {
          fill: $orange;
        }
      }
  
      &:hover {
        background-color: $orange;
  
        &,
        span {
          color: #fff;
        }
  
        svg {
          path {
            fill: #fff;
          }
        }
      }
  
      &:active {
        background-color: darken($orange, 8%);
      }
    }
  
   &Delimiter {
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
      margin-left: 14px;
      margin-right: 14px;
   }
  
  
   &Cart {
      display: flex;
      align-items: center;
      line-height: 23px;
      padding: 12px 25px;
  
      svg {
        margin-right: 8px;
        margin-bottom: 1px;
      }
  
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
 }