@import './variables.scss';
@import 'libs/normalize';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;

}

.container {
  max-width: $container-width;
  margin: 0 auto;

  &Cart {
    max-width: 960px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}
